
{{>alumn}}

  <style>
    table {
      border-collapse: collapse;
      width: 80%;
      padding-left: 10%;
      margin: 5% 10%;
    }
  
    th, td {
      border: 1px solid black;
      padding: 8px;
      text-align: center;
    }
  
    th {
      background-color: #f2f2f2;
    }
    section{
        width: 50%;
        margin: 0% 0% 10% 30%;
    }
    #alum{
        margin: 5% 5% 5% 5%;
    }
    
  </style>

  {{!-- <table class="table">
                    <thead>
                      <tr>
                        <th scope="col">Folio</th>
                        <th scope="col">Nombre</th>
                        <th scope="col">Apellidos</th>
                        <th scope="col">Grupo</th>
                        <th scope="col">Grado</th>
                        <th scope="col">Turno</th>
                       
                      </tr>
                    </thead>
                    <tbody>

                      {{#each alumnos}}
                        <tr>
                            <th scope="row">{{folio}}</th>
                            <td>{{nombre}}</td>
                            <td>{{apellidos}}</td>
                            <td>{{grupo}}</td>
                            <td>{{grado}}</td>
                            <td>{{turno}}</td>
                        </tr>
                      {{/each}}

                    </tbody>
                  </table>
   --}}
  <hr>
  <table>
    <thead>
      <tr>
        <th>Materia</th>
        <th>Bimestre 1</th>
        <th>Bimestre 2</th>
        <th>Bimestre 3</th>
        <th>Bimestre 4</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Matemáticas</td>
        <td>95</td>
        <td>92</td>
        <td>88</td>
        <td>90</td>
      </tr>
      <tr>
        <td>Lenguaje</td>
        <td>88</td>
        <td>90</td>
        <td>92</td>
        <td>95</td>
      </tr>
      <tr>
        <td>Ciencias Naturales</td>
        <td>92</td>
        <td>85</td>
        <td>90</td>
        <td>88</td>
      </tr>
      <tr>
        <td>Historia</td>
        <td>80</td>
        <td>85</td>
        <td>88</td>
        <td>90</td>
      </tr>
      <tr>
        <td>Geografía</td>
        <td>90</td>
        <td>92</td>
        <td>87</td>
        <td>85</td>
      </tr>
      <tr>
        <td>Artes Plásticas</td>
        <td>95</td>
        <td>92</td>
        <td>90</td>
        <td>88</td>
      </tr>
      <tr>
        <td>Idioma Extranjero</td>
        <td>92</td>
        <td>90</td>
        <td>95</td>
        <td>92</td>
      </tr>
      <tr>
        <td>Educación Física</td>
        <td>85</td>
        <td>88</td>
        <td>92</td>
        <td>90</td>
      </tr>
      <tr>
        <td>Educación Cívica</td>
        <td>90</td>
        <td>88</td>
        <td>85</td>
        <td>92</td>
      </tr>
      <tr>
        <td>Informática</td>
        <td>88</td>
        <td>90</td>
        <td>92</td>
        <td>85</td>
      </tr>
    </tbody>
  </table>
  <section>
    <h3>Observaciones del profesor:</h3>
    <p>Las observaciones del profesor se mostrarían aquí, debajo de la tabla de calificaciones.</p>
  </section>
  
  
